
<div class="portada" >

<div class="account-container stacked">

  <div class="content clearfix">
    <img src="assets/img/tope.jpg" class="img-fluid" alt="">
    <form name="form" #f="ngForm" novalidate (ngSubmit)="onLogin()">

      <h1>Bienvenido</h1>

      <div class="login-fields">

        <!--<p>Sign in using your registered account:</p>-->

        <div class="field">
          <label for="email">Nombre de Usuario:</label>
          <input type="text" id="email" name="email" value="" placeholder="email"
                 [(ngModel)]="form.email" class="form-control input-lg username-field" />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"
                 [(ngModel)]="form.password"/>
        </div> <!-- /password -->

      </div> <!-- /login-fields -->



      <div class="form-group">

        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Fail al loguearse: {{ errorMsg }}</div>
        <button   [disabled]="!f.valid"><img src="assets/img/cerrojo.jpg"></button>

      </div>
    </form>

  </div> <!-- /content -->

 <!-- <div id="Contenedor">
    <div class="Icon">
      &lt;!&ndash;Icono de usuario&ndash;&gt;
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="ContentForm">
      <form action="" method="post" name="FormEntrar">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="correo" placeholder="Correo" id="Correo" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
      </form>
    </div>
  </div>-->
</div> <!-- /account-container -->

</div>




