<div *ngIf="isLogged">
  <app-home></app-home>
</div>


<div *ngIf="!isLogged">

<div class="account-container stacked">

  <div class="content clearfix">

    <form name="form" #f="ngForm" novalidate (ngSubmit)="onLogin()">

      <h1>Sign In</h1>

      <div class="login-fields">

        <p>Sign in using your registered account:</p>

        <div class="field">
          <label for="nombreusuario">Nombre de Usuario:</label>
          <input type="text" id="nombreusuario" name="nombreusuario" value="" placeholder="nombreusuario"
                 [(ngModel)]="form.nombreUsuario" class="form-control input-lg username-field" />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"
                 [(ngModel)]="form.password"/>
        </div> <!-- /password -->

      </div> <!-- /login-fields -->



      <div class="form-group">

        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Fail al loguearse: {{ errorMsg }}</div>
        <button class="login-action btn btn-primary" [disabled]="!f.valid">Login</button>
      </div>
    </form>

  </div> <!-- /content -->

</div> <!-- /account-container -->

</div>
