<paMessages></paMessages>
<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>
<div class="account-container stacked">

  <div class="content clearfix">

    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)" (reset)="resetForm()" >

      <h1>Sign In</h1>

      <div class="login-fields">
        <p><a href="#" routerLink="/survey">Encuesta</a></p>
        <p>Sign in using your <a href="#" routerLink="/sig-in">registered</a> account:</p>

        <div class="field">
          	<label for="username">Usuario:</label>
							<input id="username" name="username"
									[(ngModel)]="userDTO.username"
									placeholder="Username" required
							        class="form-control input-lg username-field"  />

        </div> <!-- /field -->

        <div class="field">
          <label for="password">Contrase&ntilde;a:</label>
							<input  type="password"
							 		id="password"
							        name="password"
									[(ngModel)]="userDTO.password"
									placeholder="Password" required
							        class="form-control input-lg password-field"  />


        </div> <!-- /password -->

      </div> <!-- /login-fields -->

      <div class="login-actions">

        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
          <label class="choice" for="Field">Keep me signed in</label>
        </span>

        <button type="submit" class="login-action btn btn-primary"
							[class.btn-warning]="editing" [disabled]="form.invalid">
						 Iniciar sesi&oacute;n
					</button>

      </div> <!-- .actions -->

      <!--<div class="login-social">
        <p>Sign in using social network:</p>

        <div class="twitter">
          <a href="#" class="btn_1">Login with Twitter</a>
        </div>

        <div class="fb">
          <a href="#" class="btn_2">Login with Facebook</a>
        </div>
      </div>-->

    </form>

  </div> <!-- /content -->

</div> <!-- /account-container -->












