<app-head-image></app-head-image>
<div class="subnavbar" >

  <div class="subnavbar-inner">
    <div class="container">
      <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>
      </a>

      <div class="collapse subnav-collapse">
        <ul class="mainnav" *ngIf="isLogin">

          <li class="active" >
            <a routerLink="/login" >
              <i class="icon-home"></i>
              <span>Inicio</span>
            </a>
          </li>
        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->


<div class="main">

  <div class="container">

    <div class="row">
      <div class="col-md-6 col-xs-12">
    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-bookmark"></i>
        <h3></h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">

        <div class="shortcuts" >
          <a href="javascript:;" (click)="sendSurvey()" *ngIf="isExistSurveyBd" class="shortcut">
            <i class="shortcut-icon icon-list-alt"></i>
            <span class="shortcut-label">Mandar Encuestas..</span>
          </a>
          <span *ngIf="!isExistSurveyBd" class="shortcut-label">Mandar Encuestas..</span>
        </div> <!-- /shortcuts -->

      </div> <!-- /widget-content -->

    </div> <!-- /widget -->
      </div>
    </div>

    <div class="row" *ngIf="isSendSurvey">
      <div class="col-md-12 col-xs-12">
        <app-send-survey></app-send-survey>
      </div></div>
  </div> <!-- /container -->

</div> <!-- /main -->





