<div class="main">

  <div class="container">

    <div class="row">

      <div class="col-md-6 col-xs-12">


          <app-cuadrant-stats></app-cuadrant-stats>

          <app-cuadrant-news></app-cuadrant-news>

          <app-cuadrant-content></app-cuadrant-content>




      </div> <!-- /span6 -->


      <div class="col-md-6">




<app-cuadrant-shortcuts></app-cuadrant-shortcuts>


        <app-cuadrant-chart></app-cuadrant-chart>


          <app-cuadrant-table></app-cuadrant-table>


      </div> <!-- /span6 -->

    </div> <!-- /row -->

  </div> <!-- /container -->

</div> <!-- /main -->
