
<div class="row">
  <div class="col-md-6 col-xs-12">

    <app-division-territorial></app-division-territorial>



  </div>
  <div class="col-md-6">

    <app-division-servicio></app-division-servicio>


  </div>
  <div class="col-md-6 col-xs-12">
    <div class="widget stacked">
      <div class="widget-header">
        <i class="icon-search"></i>
        <h3>Desde</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <div class="shortcuts">
          <span class="shortcut-label"><igx-date-picker locale="es-VE"  (ngModelChange)="clickDateBegin($event)" [(ngModel)]="dateBegin"></igx-date-picker></span>
        </div> <!-- /shortcuts -->

      </div> <!-- /widget-content -->
    </div> <!-- /widget -->

  </div>
  <div class="col-md-6">
    <div class="widget stacked">
      <div class="widget-header">
        <i class="icon-search"></i>
        <h3>Hasta</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <div class="shortcuts">
          <span class="shortcut-label"><igx-date-picker locale="es-VE" (ngModelChange)="clickDateEnd($event)" [(ngModel)]="dateEnd"></igx-date-picker></span>
        </div> <!-- /shortcuts -->
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div>

</div>




