<!--PLANTILLAS-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Organización territorial</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-division-territorial></app-division-territorial>
    <app-message-simple [pathTerritorio]="pathTerritorio"></app-message-simple>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #contentServ let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Organización de Servicios</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-division-servicio></app-division-servicio>
    <app-message-simple [pathServicio]="pathServicio"></app-message-simple>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
<!--FIN PLANTILLAS-->

<app-head-image></app-head-image>
<div class="subnavbar" >

  <div class="subnavbar-inner">
    <div class="container">
      <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>
      </a>

      <div class="collapse subnav-collapse">


        <ul class="mainnav" *ngIf="isLogin">
          <li class="active" (click)="homesimple()">
            <a routerLink="/homeSimple">
              <i class="icon-cog"></i>
              <span>{{ info.nombreUsuario}}</span>
              <b class="caret"></b>
            </a>

          </li>

          <li *ngIf="!isRoot">
              <span><app-date-from></app-date-from></span>
          </li>
          <li *ngIf="!isRoot">
            <app-date-to></app-date-to>
          </li>
          <li class="active"  *ngIf="!isRoot">
          <a href="javascript:;" (click)="openLg(content)" class="shortcut">
            <i class="shortcut-icon icon-list-alt"></i>
            <span class="shortcut-label">
                       Organización territorial
                </span>
          </a>
        </li>
          <li class="active"  *ngIf="!isRoot">
            <a href="javascript:;" (click)="openServ(contentServ)" class="shortcut">
              <i class="shortcut-icon icon-list-alt"></i>
              <span class="shortcut-label">
                      Organización de Servicios
                </span>
            </a>
          </li>
          <li>
            <a class="active"  href="javascript:;"  (click)="logOut()">
              <i class="icon-home"></i>
              <span>Cerrar Sesión</span>
            </a>
          </li>
        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->


<div class="main">

  <div class="container">



  <!--SOLO SE USA PARA ROOT-->
<div *ngIf="isRoot"><app-create-company></app-create-company></div>

    <!--END SOLO SE USA PARA ROOT-->
    <app-message-simple [pathTerritorio]="pathTerritorio" [pathServicio]="pathServicio"></app-message-simple>
    <div *ngIf="isLogin && !isRoot">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <app-nps-main-chart></app-nps-main-chart>
      </div>
      <div class="col-md-6">
        <!--<app-nps-main-chart></app-nps-main-chart>-->
        <app-widget-sg></app-widget-sg>
        <app-widget-alerts></app-widget-alerts>
      </div>
    </div>
    </div>

  </div> <!-- /container -->

</div> <!-- /main -->





